.jumbotron
{
  padding: 15px!important;
  background: #30E8BF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FF8235, #30E8BF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FF8235, #30E8BF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 0px!important;
}

.col-md-3 .ceit-logo
{
  width: 90px;
  height: 90px;
}

.col-md-3 .upng-logo
{
  width: 90px;
  height: 90px;
}
